#buscador {
    float: left;
    padding: 7px 12px;
    
    margin-bottom: 10px;
    position: absolute;
    left: -3px;
    z-index: 2;
}

#buscador:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#buscador.b-activo a {
    color: rgb(255, 0, 21);
}

#buscador.b-inactivo a {
    color: white;
}

#buscador.b-inactivo {
    background-color: rgb(255, 0, 21);
    margin-top: 4px;
}

#buscador.b-activo {
    background-color: rgba(193,198,208,.6);
    margin-top: 40px;
}