<a (click)="opcionNavSvr.seleccionar(indice)" class="opcion-nav relative f5 f6-ns link n-pv9 n-pv12-ns n-pv15-l n-ph6-ns n-mr6 flex items-center dib-ns white">
  <!--<div class="dib dn-ns relative n-h12 n-w12 ba bw1 br-pill n-mr9" style="border-color: rgb(219, 0, 124);">
    <div class="db relative n-h6 n-w6 n-a-center br-pill tp-bc td-2" style="background-color: rgb(219, 0, 124);">
    </div>
  </div>-->
  {{data.titulo}}
  <div *ngIf="data.presionado" class="dn db-ns n-afterline" style="background-color: rgb(219, 0, 124);">

  </div>
</a>