app-buscador, app-finantienda-select {
    display: block;
}

.b-inactivo app-finantienda-select {
    margin-left: 33px;
    padding-right: 3px;
}

.b-activo app-finantienda-select {
    margin-left: -6px;
    padding-right: 3px;
}

#filtros {
    display: inline-block;
    padding: 0px;
    margin-top: 9px;
}