<!--Start Ups: <iframe width="800" height="600" [src]=" startUpPBI | safe" frameborder="0" allowFullScreen="true"></iframe>
Empleados: <iframe width="800" height="600" [src]=" empleadosPBI | safe" frameborder="0" allowFullScreen="true"></iframe>
Ingresos: <iframe width="800" height="600" [src]=" ingresosPBI |safe" frameborder="0" allowFullScreen="true"></iframe>
Compras: <iframe width="800" height="600" [src]="comprasPBI | safe" frameborder="0" allowFullScreen="true"></iframe>
Fondos: <iframe width="800" height="600" [src]="fondosPBI | safe" frameborder="0" allowFullScreen="true"></iframe>
Impuestos: <iframe width="800" height="600" [src]="impuestosPBI | safe" frameborder="0" allowFullScreen="true"></iframe>
Mentoria_Asesoria: <iframe width="800" height="600" [src]="mentoriaPBI | safe" frameborder="0" allowFullScreen="true"></iframe>-->