.w50{
    width: 50%;
}

.loginMargin{
    margin-top: 20%;
    margin-left: 20%;

}

.headerLogin{
    background-image: url("../../../assets/img/emprende-up/lado_horizontal_mejorado.png") !important;
    background-size: 100% 100% !important;
}



.padre {height: -webkit-fill-available;}


.logoImg{
    width: -webkit-fill-available;
    padding-top: 0px;
    height: fit-content;
}

.login_img{
    width: 60%;
    margin: 11% auto;
}
