.logout_class {
  margin: 0 !important;
  height: inherit !important;
  }

.deslogueo {
  font-size: 26px;
  margin-top: 42%;
  color:white;
}

#logout {
  width: 45px !important;
}

#logout *,
#logout * *,
#logout * * * {
  width: inherit !important;
}