@media (min-width: 1200px){
    .col-lg-6 {
        margin-left: 25%;
        }
    }

.header_widget{
    background-color: #0d94c7 !important;
}

.header_widget * {
    font-weight: 800 !important;
    font-family: serif;
}

