<div class="col-xs-12" style="display: grid;">
    <div class="d_flex">
        <button class="boton_regresar btn " (click)="eventoRegresar()">
            <i class="fa fa-arrow-left"></i>&nbsp;
        </button>
        <h1>{{titulo}}</h1>
    </div>
    <app-opciones-nav></app-opciones-nav>
    <app-buscador></app-buscador>
    <table id="{{titulo}}" appTextColor [columnaCalculo]="'Realizado'" [metodoCalculo]="colorear" [contenido]="this.data" [columnas]="[
      'Nombre',
      'Meta',
      'Ejecutado',
      'Restante',
      'Realizado'
    ]" [columnasColorear]="[
    'Realizado'
    ]" datatable [dtOptions]="dtOptions" class="table table-condensed responsive table-hover " *ngIf="this.temp_var">
        <thead>
            <tr>
                <th>Usuario</th>
                <!--<th>#</th>-->
                <th>Nombre</th>
                <th>Meta</th>
                <th>Ejecutado</th>
                <th>Restante</th>
                <th>Realizado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rec of this.data;let i = index;">
                <td>{{rec['idusuario']}}</td>
                <!--<td *ngIf="(i+1) < this.data.length">{{i + 1}}°</td>
                <td *ngIf="(i+1) >= this.data.length">Resultado</td>-->
                <td>{{rec['Nombre']}}</td>
                <td>{{rec['Meta']}}</td>
                <td>{{rec['Ejecutado']}}</td>
                <td>{{rec['Restante']/ 100 | percent:'1.0-2':'fr'}}</td>
                <td>{{rec['Realizado']/ 100 | percent:'1.0-2':'fr'}}</td>
            </tr>
        </tbody>
    </table>
</div>