<div *ngIf="!renderizando" class="col-xs-12">
    <app-filtros ></app-filtros>
    <table *ngIf="this.temp_var"
    id="{{titulo}}"
    datatable [dtOptions]="dtOptions" class="table table-hover responsive no-wrap" >
        <thead>
            <tr>
                <th *ngFor="let header of headers">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rec of this.data;let i = index;">
              <!--<td>{{rec['id_equipo']}}</td>-->
              <td *ngFor="let columna of columnas;let i = index;">
                <ng-container *ngIf="columna === 'porcentaje'">
                    {{rec[columna] / 100 | percent:'1.0-2':'fr'}}
                </ng-container>
                <ng-container *ngIf="columna !== 'porcentaje'">
                    {{rec[columna]}}
                </ng-container>
              </td>
            </tr>
          </tbody>
    </table>
    
</div>