<div *ngIf="mostrarJefes" >
    <button class="boton_regresar" (click)="eventoRegresar()">Regresar</button>
    <!--<app-table
    class="col-xs-12"
    (outputEvent)="hacieEquipos($event)"
      [idTable]="'jefes'"
      [url]="'informacionJefesPorFilial/' + idFilial"
      [posicion]="0"
      [hasFilter]="true"
      [searColumns]="
                        [
                        'Nombre',
                        'Meta',
                        'Ejecutado',
                        '% Realizado',
                        '% Restante'
                        ]"
                        [columns]="
                        [
                        { prop: 'Nombre'},
                        { prop: 'Meta',width:45, maxWidth:45  },
                        { prop: 'Ejecutado',width:62, maxWidth:62  },
                        { prop: 'Realizado',width:62, maxWidth:62  },
                        { prop: 'Restante',width:61, maxWidth:61   }
                        ]"
    
    >
    </app-table>-->
    <app-widget
    (dobleclickEvent)="hacieEquipos($event)"
    [headerTitle]="titulo"
    [idTable]="'jefes'"
    [tableUrl]="'informacionJefesPorFilial/' + idFilial"
    [id]="'jefes'"
    [contentTable]="true"
    [hasButtons]="false"
    [tableColumns]="
                        [
                        { data: 'Nombre'},
                        { data: 'Meta'  },
                        { data: 'Ejecutado'  },
                        { data: 'Realizado' },
                        { data: 'Restante'  }
                        ]"
    
    >
    </app-widget>
</div>
<div *ngIf="!mostrarJefes">
  <app-tabla-equipos
  (regresar)="haciaJefes()"
  [idJefe]="idJefe"
  [titulo]="nombreJefe"
  ></app-tabla-equipos>
</div>



