<div *ngIf="mostrarJefes" class="col-xs-12" >
    <button class="boton_regresar" (click)="eventoRegresar()">Regresar</button>

    <table id="jefes"
    appTextColor
    [columnaCalculo]="'Realizado'" 
    [metodoCalculo]="colorear" 
    [contenido]="this.data" 
    [columnas]="[
      'Nombre',
      'Meta',
      'Ejecutado',
      'Restante',
      'Realizado'
    ]"
    [columnasColorear]="[
    'Realizado'
    ]"
    datatable [dtOptions]="dtOptions" class="table table-striped table-hover responsive no-wrap" *ngIf="this.temp_var">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Nombre</th>
          <th>Meta</th>
          <th>Ejecutado</th>
          <th>Restante</th>
          <th>Realizado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec of this.data">
          <td>{{rec['id_equipo']}}</td>
          <td >{{rec['Nombre']}}</td>
          <td>{{rec['Meta']}}</td>
          <td>{{rec['Ejecutado']}}</td>
          <td>{{rec['Restante']/ 100  | percent:'1.0-2':'fr'}}</td>
          <td>{{rec['Realizado']/ 100  | percent:'1.0-2':'fr'}}</td>
        </tr>
      </tbody>
    </table>
</div>
<div *ngIf="!mostrarJefes">
  <app-tabla-equipos
  (regresar)="haciaJefes()"
  [idJefe]="idJefe"
  [titulo]="nombreJefe"
  ></app-tabla-equipos>
</div>



