<div *ngIf="mostrarJefes && !renderizando" class="col-xs-12" >
    <div class="d_flex">
        <button class="boton_regresar btn " (click)="eventoRegresar()">
            <i class="fa fa-arrow-left"></i>&nbsp;
          </button>
          <h1>{{titulo}}</h1>
    </div>
    <app-opciones-nav ></app-opciones-nav>
    <app-filtro-fechas
    [fecha]="fechaInicial"
    [tipoReporte]="tipo_reporte"
    (cambioEnFechas)="actualizacionEnFechas($event)"
    >
    </app-filtro-fechas>
    <!--<app-buscador  *ngIf="this.temp_var"></app-buscador>-->
    <app-filtros ></app-filtros>
    <table *ngIf="this.temp_var"
    id="{{titulo}}"
    appTextColor
    [columnaCalculo]="'porcentaje'" 
    [metodoCalculo]="colorear" 
    [contenido]="this.data" 
    [colorcito]="fondoBase"
    [columnas]="columnas"
    [columnasColorear]="[
    'porcentaje'
    ]"
    datatable [dtOptions]="dtOptions" class="table table-hover responsive no-wrap" >
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec of this.data;let i = index;">
          <!--<td>{{rec['id_equipo']}}</td>-->
          <td *ngFor="let columna of columnas;let i = index;">
            <ng-container *ngIf="columna === 'porcentaje'">
                {{rec[columna] / 100 | percent:'1.0-2':'fr'}}
            </ng-container>
            <ng-container *ngIf="columna !== 'porcentaje'">
                {{rec[columna]}}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div *ngIf="!mostrarJefes && this.temp_var">
  <app-tabla-equipos
  (regresar)="haciaJefes()"
  [idJefe]="idJefe"
  [titulo]="nombreJefe"
  ></app-tabla-equipos>
</div>



