<!--<div class="input-group">
  <input type="text" name="mydate" placeholder="Select a date" 
        class="form-control datepicker"
         saUiDatepicker  saUiDatepickerInput="{
          dateFormat: 'dd/mm/yy'
          defaultDate: defaultDate
         }"
         (fechaNueva)=cambiarFecha($event)
         >
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>-->

<div class="container-fluid" *ngIf="!loading">
  <input type="text" style="background-color: white"
  placeholder="Datepicker"
  class="form-control"
  bsDatepicker
  [maxDate]="defaultDate"
  [bsConfig]="bsConfig"
  [ngModel]="fecha"
  (bsValueChange)="cambiarFecha($event)"
  >
</div>

