<!--<div class="input-group">
  <input type="text" name="mydate" placeholder="Select a date" 
        class="form-control datepicker"
         saUiDatepicker  saUiDatepickerInput="{
          dateFormat: 'dd/mm/yy'
          defaultDate: defaultDate
         }"
         (fechaNueva)=cambiarFecha($event)
         >
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>-->

<datepicker
[(ngModel)]="dt"
[minDate]="minDate"
[showWeeks]="true"
[dateDisabled]="dateDisabled">
</datepicker>
