.buttonDefault {
    font-size: 19px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: transparent;
    font-family: serif;
}

.btn-aceptar {
    background-color: #3276b1;
    color: white !important;
}

datatable-body-cell>div>button {
    background-color: #0d94c7 !important;
    border-radius: 6px;
}

.fa-list:before {
    color: white;
}

btn:hover {
    color: #ffff;
}