.addIcon {
    /* color: #0f16ec; */
    font-size: large;
  }
  
  .editIcon {
    color: #42f12d;
  }
  
  .removeIcon {
    color: #f61919;
  }

  .verdeAzulado{
    background-color: #06614b !important;    
  }

  .colorNegro{
    color:black;
  }

  /*nav ul li {
    background: #BBDEFB !important;
  }*/

  .rojo {
    color: red !important;
  }
  
  .naranja {
    color: orange !important;
  }
  
  .azul {
    color: blue !important;
  }
  
  .verde {
    color: green !important;
  }

  .valor0 {
    color: #acadbc !important;
  }

  .entre_1_40 {
    color: #f86964 !important;
  }

  .entre_40_60 {
    color: #6b82af !important;
  }

  .mayor_60{
    color: #39c663 !important;
  }


  .grafico_tarjetas_color{
    color: #4e98c7 !important;
  }

  .grafico_servicios_color{
    color: #53B2BF !important;
  }

  .grafico_compras_color{
    color: #cc7d34 !important;
  }

  td a {
    color: inherit !important;
  }


  