<div>
    <button class="boton_regresar" (click)="eventoRegresar()">Regresar</button>
    <!--<app-table
        class="col-xs-12"
      [idTable]="'equipos'"
      [url]="'informacionEquipo/' + idJefe"
      [posicion]="0"
      [hasFilter]="true"
      [searColumns]="
                        [
                        'Nombre',
                        'Meta',
                        'Ejecutado',
                        '% Realizado',
                        '% Restante'
                        ]"
                        [columns]="
                        [
                        { prop: 'Nombre'},
                        { prop: 'Meta',width:45, maxWidth:45  },
                        { prop: 'Ejecutado',width:62, maxWidth:62  },
                        { prop: 'Realizado',width:62, maxWidth:62  },
                        { prop: 'Restante',width:61, maxWidth:61   }
                        ]"
    
    >
    
    </app-table>-->
    <app-widget
    [headerTitle]="titulo"
    [tableUrl]="'informacionEquipo/' + idJefe"
    [id]="'equipos'"
    [idTable]="'equipos'"
    [contentTable]="true"
    [hasButtons]="false"
    [tableColumns]="
                        [
                        { data: 'Nombre'},
                        { data: 'Meta'  },
                        { data: 'Ejecutado'  },
                        { data: 'Realizado' },
                        { data: 'Restante'  }
                        ]"
    
    >
    </app-widget>
</div>

