<div *ngIf="mostrarGraficos && !loading" id="pie_graficos" class="grafico_tarjetas_color">
  <!-- <h2>{{data.titulo}}     Junio</h2> -->
  <div class="titulo">
    <h2>{{data.titulo}}</h2>
    <h2>{{data.fecha}}</h2>
  </div>
  <div *ngFor="let grafico of graficos;let i=index;">
    <app-pie-grafico [data]="grafico.data" (regresar)="haciaTablaJefes($event)"></app-pie-grafico>
  </div>

  <!--<app-pie-grafico
    [data]="this.tarjetas.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
  
  <app-pie-grafico
    [data]="this.servicios.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
  
  <app-pie-grafico
    [data]="this.credicompras.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>

  <app-pie-grafico
    [data]="this.efectivo.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>-->
</div>

<div *ngIf="!mostrarGraficos && !loading">
  <app-tabla-jefes
    [idFinantienda]="this.data.id + ''"
    [fechaInicial]="data.fecha"
    [data]="asesores"
    [columnas]="columnas"
    [headers]="headers"
    [titulo]="this.data.titulo"
    [fondoBase]="this.data.data_color"
    (regresar)="eventoMostrarGraficos()" 
    ></app-tabla-jefes>
</div>