
<div *ngIf="mostrarGraficos && !loading" id="pie_graficos">
    <app-pie-grafico
    [data]="this.tarjetas.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
  
  <app-pie-grafico
    [data]="this.servicios.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
  
  <app-pie-grafico
    [data]="this.compras.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
</div>

<div *ngIf="!mostrarGraficos && !loading">
    <app-tabla-jefes
    (regresar)="eventoMostrarGraficos()"
    [idFilial]="this.data.id"
    [titulo]="this.data.titulo"
    [fondoBase]="this.data.data_color"
    ></app-tabla-jefes>
</div>
