
<div *ngIf="mostrarGraficos && !loading" id="pie_graficos">
  <div *ngFor="let grafico of graficos;let i=index;">
    <app-pie-grafico [data]="grafico.data" (regresar)="haciaTablaJefes($event)" ></app-pie-grafico>
  </div>
    
  <!--<app-pie-grafico
    [data]="this.tarjetas.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
  
  <app-pie-grafico
    [data]="this.servicios.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>
  
  <app-pie-grafico
    [data]="this.credicompras.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>

  <app-pie-grafico
    [data]="this.efectivo.data"
    (regresar)="haciaTablaJefes($event)"
  >
  </app-pie-grafico>-->
</div>

<div *ngIf="!mostrarGraficos && !loading">
    <app-tabla-jefes
    (regresar)="eventoMostrarGraficos()"
    [idFinantienda]="this.data.id + ''"
    [data]="asesores"
    [titulo]="this.data.titulo"
    [fondoBase]="this.data.data_color"
    ></app-tabla-jefes>
</div>
