#titleHeader{
    font-size: 24px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    color:white;
    margin-top: 8px;
    padding-left: 16%;
}

@media all and (min-width: 980px){
    #titleHeader{
        font-size: 20px;
        padding-left: 0;
    }
    .grupoOpcionesHeader{
        top: 10px;
    }
    #headerContenido{
        width: calc(100% - 250px) !important;
    }
}

@media all and (min-width: 0px) and (max-width:979px){
    #titleHeader{
        font-size: 20px;
    }
    .grupoOpcionesHeader{
        top: 0;
    }
    #headerContenido{
        width: 100% !important;
        display: -webkit-box;
    }
    #imageHeader{
        width: 100% !important;
        padding: 0 10%;
        display: flex;
    }

}

.imglogoUp{
    height: 75%;
    width: 60%;
    margin: 10px;
   /* padding: 0 10%;*/
}

#imageHeader{
    width: 250px;
    margin:0 auto;
}

#headerContenido{
    width: calc(100% - 250px);
    height: auto;
}

@media (max-width: 979px) and (min-width: 768px){
    #header{
        display: grid;
        height: auto;
    }
}

.backHeader{
    /*background-image: url("../../../../assets/img/emprende-up/lado_horizontal.png") !important;
    background-repeat: no-repeat  !important;
    background-size: 100% 100%  !important;
    background-image: linear-gradient(to bottom,#efdbdb,#fff) !important;
    */
    background:#cbd5ea  !important;
}

.grupoOpcionesHeader{
    position: relative;
    top: 10px;
}

.collapse{
    display: block;
    margin-top: 12px;
}

.opciones_header {
    display: inline-flex;
    HEIGHT: inherit;
}

