<div class="col-xs-6 col-md-4 col-lg-2" saEasyPieChartContainer (terminoCarga)="capturarEvento($event)">

  <div class="">
    <ul class="list-inline">
      <!--<li class="panel" id="panel-pie">
        <div class="container">
          <div class="hijo">
            <div class="centrarHorizontalmente">
              <h2 class="{{data.data_color}} titulo_pie" [ngStyle]="{'font-size': this.data.font_size + 'px'}">{{data.titulo}}</h2>
            </div>
          </div>
        </div>
        <div appCentrarPie class="panel-body" >
          <div class=" {{data.data_color}} easy-pie-chart easyPieChart " [attr.data-percent]="data.data_percent" [attr.data-size]="data.data_size"
            [attr.data-pie-size]="data.data_pie_size">
            <div class="container">
              <div class="hijo">
                <div class="centrarHorizontalmente">
                  <button (click)="haciaTablaJefes()">
                    <span
                    
                    class="
                    {{mostrarGrafica}}
                    {{data.data_color}}
                    percent
                    percent-sign
                    semi-bold" 
                    [ngStyle]="{
                      'font-size': (this.data.font_size * 1.5) + 'px'
                    }"
                    
                    >
                      {{data.data_percent}}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </li>-->
      <li>
        <div class="container">
          <div class="hijo">
            <div class="centrarHorizontalmente">
              <h2 class="{{data.data_color}} titulo_pie" [ngStyle]="{'font-size': (this.data.font_size * 0.8) + 'px'}">{{data.titulo}}</h2>
            </div>
          </div>
        </div>
        <div appCentrarPie>
          <div class=" {{data.data_color}} easy-pie-chart easyPieChart " [attr.data-percent]="data.data_percent" [attr.data-size]="data.data_size"
            [attr.data-pie-size]="data.data_pie_size">
            <div class="container">
              <div class="hijo">
                <div class="centrarHorizontalmente">
                  <button (click)="haciaTablaJefes()">
                    <span
                    
                    class="
                    {{mostrarGrafica}}
                    {{data.data_color}}
                    percent
                    percent-sign
                    semi-bold" 
                    [ngStyle]="{
                      'font-size': (this.data.font_size * 1.5) + 'px'
                    }"
                    
                    >
                      {{data.data_percent}}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>

  </div>

</div>