.titulo_pie {
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    font-size: 32px;
}

.easy-pie-chart .percent{
    font-size: 340% !important;
    top: 43%;
    left: 0;
}

.container {
    width: inherit !important;
}

.noMostrar{
    display: none;
}

.mostrar {
    display: block;
}